@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, .custom, .map-container, ::-webkit-scrollbar-thumb {
  font-family: "Montserrat", sans-serif,;
}

body {
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.logo-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  z-index: 1000;
}

.logo {
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.custom {
  font-weight: 800;
  font-size: 2.5rem;
  color: #352844; 
  background: none;
  padding: 20px 0;
  border: none ;
  text-align: right;
  text-shadow: 0 0 5px rgba(212, 174, 221, 0.8); /* glow vert clair néon */
  border-radius: 0;
  margin-bottom: 20px;
}

.map-container {
  height: 400px; 
  max-width: 90vw;
  margin: 20px auto; 
  border: 2px double #ffffff; 
  border-radius: 12px;
  box-shadow: 0 0 20px #ffffff; 
  background-color: #392f4b; 
  position: relative;
}

.map-container iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
  display: block;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #392f4b; 
}
::-webkit-scrollbar-thumb {
  background: #a8e6cf; 
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar-thumb:hover {
  background: #d072a4; 
}

.btn-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 6px 4px;
    background-color: #ffffff; 
    color: black;
    border: 4px solid #562852ac;  
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'monserrat', sans-serif;
    transition: background-color 0.3s ease;
  }
  .btn-link:hover {
    background-color: #ffffff; 
    color: black;
  }
